@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.burger {
    display: none;
}

.burger div {
    display: none;
}

.darkModeToggle{
    width: 45px;
}

.nav-list{
    list-style: none;
}

.nav-list li a {
    font-weight: 500;
    font-size: 16px;
    padding: 2px 20px;
    color: #000;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

.nav-list li a:hover{
    color: crimson;
}

.nav-list li{
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
}


.logo{
    margin: 0px;
    display: inline-flex;
    align-items: center;
}

.dogo{
    border-radius: 100px;
    margin-right: 10px;
    padding: 0;
    width: 10%;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.whoami h1 {
    font-style: normal;
    font-size: 35px;
    margin: 0 0 5px 0;
}

.whoami{
    justify-content: center;
    margin: 65px;
    width: 50vh;
    padding: 15%;
}

.myImage img{
    height: 90vh;
    margin: auto;
    position: absolute;
    bottom: 0%;
    right: 0;
}


@media screen and (max-width: 1080px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        margin: 0px;
    }

    .nav-list li a {
        font-weight: 500;
        font-size: 16px;
        padding: 6px 6px;
        color: #000;
        transition: all 0.5s ease 0s;
        text-decoration: none;
    }

    .nav-list{
        height: 100%;
    }

    .section-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .whoami{
        margin: auto;
        width: 50vh;
        padding: 15%;
    }
    
    .myImage img{
        height: 60vh;
        margin: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 900px){
    .mad{
        margin-top: 10px;
    }


    .nav-list{
        position: absolute;
        left: 0px;
        height: 100%;
        width: 50%;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin: 35px;
    }

    .burger{
        display: block;
    }

    .burger div{
        display: block;
        cursor: pointer;
        width: 25px;
        height: 5px;
        margin: 5px 24px 0px 0px;
        border-radius: 20px;
        background-color: black;
    }

    .darkModeToggle{
        width: 45px;
        align-self: flex-end;
    }

    .section-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .whoami{
        margin: auto;
        width: 50vh;
        padding: 15%;
    }
    
    .myImage img{
        height: 60vh;
        margin: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.nav-active{
    box-shadow: 11px 30px 23px 0px rgb(187, 187, 187);
    transform: translateX(0%);
    background-color: white;
}